
body{
	background-color: #f3f3f3;
	margin:0 auto;
	width:100%;
    height:100%;
	overflow-x: hidden;
	font-family: 'Homemade Apple', cursive;
	color: #333;
}








li {
    float: right;
    padding: 10px 20px;

}

li a {
    display: block;
    color: black;
    text-align: center;
    margin: 0px 0px;
    padding: 10px 10px;
    text-decoration: none;
    font-family: 'Homemade Apple', cursive;
    font-size: 85%;
}



.banniere
{
	background-image: url(../images/Background-Blue.jpg);
    background-size: cover;
    height: 600px;
    background-position: left;
    margin-top: -100px;
}


p{
	font-size: 20px;
}

h3{
	font-size: 25px;
}

h1.Bienvenue{
	position: relative;
    top: 250px;
	text-align: center;
	color: white;
	font-size: 500%;

}

div.presentation{
	height: 300px;
}


h3.aPropos{
    color: #10b1c7;
    position: relative;
    top: 10%;
	left: 10%;

}



p.p1{
    position: relative;
    top: 15%;
	left: 10%;
}

h3.moncv{
    color: #10b1c7;
    position: relative;
    top: -55%;
	left: 45%;

}



button.button1{
	background-color: #f3f3f3;
	font-size: 14px;
	padding: 10px 25px;
	position: relative;
    top: -50%;
    left: 47%;
  	border: 1px solid #050505;
}

h3.plus{
    color: #10b1c7;
    position: relative;
    top: -95%;
	left: 70%;
}


p.p2{
    position: relative;
    top: -90%;
	left: 70%;
}


div.transition{
	background-color:#10b1c7;
	height: 200px;
}

h3.transition{
    color: white;
    text-align: center;
    position: relative;
    top: 75px;
    font-size: 300%;

}

div.ppe{
    height: 650px;
    font-family: 'Homemade Apple', cursive;
    font-size:20px;
    background:url('https://images.pexels.com/photos/172277/pexels-photo-172277.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size:cover;
    background-repeat:repeat;
    color:#000;
}

h3.ppe{
    margin-top: 0px;
    margin-bottom: 100px;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}




ul{
    position:absolute;
    margin:0;
    padding:0;
  }
  
  li{
    text-align:center;
    display:inline-block;
    list-style:none;
    position:relative;
    border:solid 1px #fff;
    background:#fff;
    box-shadow:0 0 15px 0px #555;
    transition:all 1s ease;
    -o-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    top:80px;
    left: -2%;
  }
  
  
  li:hover{
    top:0px;
    opacity:0.5;
  }
  
  li:first-child {
      transform:rotate(10deg);
  }
  
  li:nth-child(2){
      transform:rotate(0deg);
      order: 2;
  }
  
  li:nth-child(3){
      transform:rotate(-10deg);
  }
  
  li:nth-child(4){
      transform:rotate(10deg);
  }

  li:nth-child(5){
    transform:rotate(0deg);
}

li:nth-child(6){
    transform:rotate(-10deg);
}

li:nth-child(7){
    transform:rotate(10deg);
}

li:nth-child(8){
    transform:rotate(0deg);
}

li:nth-child(9){
    transform:rotate(-10deg);
}
p{
    margin:-15px 0 0 0;
}
  
  .light{
    border-radius:50%;
    position:absolute;
    left:0;
    right:0;
    width:700px;
    height:700px;
    background:#fff;
    filter:blur(100px);
    opacity:0.3;
    pointer-events:none;
  }



span.highlight-text{
	color: #10b1c7;
    font-weight: 700;
}

span.highlight-text a{
    color: #10b1c7;
    font-weight: 700;
}



div.stage{
	background-image: url(../images/Background-Blue.jpg);
    background-size: cover;
    height: 200px;
    background-position: center;
    margin-top: -50px;
}

h3.stage{
    color: white;
    text-align: center;
    position: relative;
    top: 75px;
    font-size: 300%;
}

hr.stage{
	width: 150px;
	position: relative;
	top: 110px;
	left: 30px;
}

p.stage{
    color: grey;
    position: relative;
    top: 110px;
	left: 900px;
}



img.stage1{
	max-width: 500px;
    max-height: 250px;
}

figure.stage1 {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 500px;
    margin: auto;
    margin-left: 5%;
    margin-top: 200px;
}

figcaption.stage1 {
    background-color: #222;
    color: #fff;
    font-family: 'Homemade Apple', cursive;
    padding: 3px;
    text-align: center;
}

img.stage2{
	max-width: 500px;
    max-height: 250px;
}

figure.stage2{
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 500px;
    margin: auto;
    margin-left: 70%;
    margin-top: -280px;
}

figcaption.stage2 {
    background-color: #222;
    color: #fff;
    font-family: 'Homemade Apple', cursive;
    padding: 3px;
    text-align: center;
}




.titre-projet {
    margin-left: 200px;
    margin-top: 150px;
    padding-top: 10px;
    font-size: 34px;
    font-weight: 300;
    display: block;

}








